*{
    margin : 0;
    padding: 0;
}
body{
font-family: "Arial Black";
}
/*Navigationsbar*/
.naviagtion{
    background-color: grey;
    position: fixed;
}
.naviagtion a {
    font-size: 20px;
    color: #f2f2f2;
    float: left;
    padding: 10px 26px;
    text-decoration: none;
}
.naviagtion a:hover {
    background-color: #000000;
}
/*Homescreen*/

#homescreen{
    height: 100px ;
    background-color: grey;
}
#homescreen::before{
    background-image: url("test.jpg");
    height: 700px;
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.homescr{
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;

}
/* https://www.youtube.com/watch?v=znqUwx0b0HI referenz*/
.video{
    position: absolute;
    right: 10%;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    .video{
        width: 80%;
        height: auto;
        top: 80%;
    }

}
@media (max-aspect-ratio: 16/9) {
    .video{
        width: 10%;
        height: 100%;
    }

}
/* About*/

.headerabt{
    text-align: center;
    margin: 1550px 0px;
    border-style: outset;
}
.pabt{
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    margin: -1450px 10px;
    line-height: 1.4;
    word-spacing: 4px;
}


/* KÃ¼nstler*/
.headerkuenstler{
    text-align: left;
    margin: 1600px 10px;
    border-style: inset;
    padding-left: 10px;
}
.headercenter{
    margin-left: 30px;
    padding-left: 10px;
}
.headercenter3{
    margin-left: 80px;
    margin-top: 10px;
    padding-left: 10px;
}
.headercenter2{
    margin-left: 30px;
    margin-top: 15px;
    padding-left: 10px;

}
.bildrechts{
    float:right;
    margin-left: 50px;
    margin-bottom: 50px;
}
/* Werke*/
.headerwerke{
    text-align: left;
    margin: -1500px 10px;
    border-style: inset;
    padding-left: 10px;
}
/* Galerie */
.headergalerie{
    text-align: left;
    margin: 1600px 10px

}
.headergalerie2{
    text-align: center;
    margin-top: 1600px;
    text-decoration: none;

}

.test{
    border-style: outset;
}